# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
admin/includes/_notes/dwsync.xml
admin/_notes/dwsync.xml
includes/_notes/dwsync.xml
admin/includes/classes/_notes/dwsync.xml
addons/Quickpay_Payments/modules/payment/_notes/dwsync.xml
addons/Quickpay_Payments/_notes/dwsync.xml
admin/includes/applications/orders/pages/tabs/_notes/dwsync.xml
admin/includes/applications/orders/pages/_notes/dwsync.xml
addons/Quickpay_Payments/languages/_notes/dwsync.xml
addons/Quickpay_Payments/images/_notes/dwsync.xml
addons/Quickpay_Payments/admin/_notes/dwsync.xml
addons/Quickpay_Payments/admin/classes/_notes/dwsync.xml
